#AbtOatie{
  font-size: 85px;
  font-weight: bold;
  text-align: center;
  float: center;
  width: 750px;
  border: 15px solid #003768;
  padding: 50px;
  margin: 20px;
}
#abtOatiecontent{
  font-size: 20px;
  text-align: center;
  float: center;
  width: 750px;
  border: 15px solid #003768;
  padding: 50px;
  margin: 20px;
}
#oatiepic{
  text-align: center;
  float: center;
  width: 750px;
  border: 15px solid #003768;
  padding: 50px;
  margin: 20px;
}
#abtoatiefoot{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  float: center;
  width: 750px;
  border: 15px solid #003768;
  padding: 50px;
  margin: 20px;
}
